.env
.venv
instance/
__pycache__/
recipes_workspace.xcworkspace/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
*.egg-info/
dist/
build/
start.sh
.vscode/
.idea/
static/uploads/*
*.iml
*.sublime-project
*.sublime-workspace
*.zip
*.tar.gz
*.egg
*.whl
*.bak
*.tmp
*.backup
*.orig
*.rej
*.swo
*.swn
templates/legal/